/*<img class="circleImg" src="" alt="">*/
*{
    margin: 0px;
}

header{
    background-color: gray;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.btnHeader{
    background-color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}
.cvs{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.foto1{
    background-color: red;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    
}
.espacio-horizontal{
    width: 100px;
}
.espacio-vertical{
    height: 100px;
}
.foto2{
    background-color: blue;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    
}
.foto3{
    background-color: pink;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.foto4{
    background-color: yellow;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.contenedor-img{
    display: flex;
    justify-content: center;
}
footer{
    background-color: gray;
    width: 100%;
    height: 77px;
    bottom: 0;
    position: fixed;
}
